@use '../../globalStyleOverride.scss' as *;

.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color-primary;
}

.my-holdings-header {
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  font-size: 16pt;
}
