.card-container {
  position: fixed;
  width: 150px;
  height: 75px;
  bottom: 270px;
  left: 110px;
}

.dialogue-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
}

.MuiPaper-root.dialogue-card {
  color: white;
  background-color: #25A55F;
}