@use '../../globalStyleOverride.scss' as *;

.stock-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.amount-input {
 border: none;
 color: #636363;
 border-radius: 5px;
 height: 40px;
 width: 50%;
 margin-bottom: 25px;
 margin-right: 10px;
}

.amount-input-money {
  border: none;
  color: #636363;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  width: 80%;
  margin-bottom: 25px;
}

.input-container {
  display: flex;
  width: 80%;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 15px;
}

.MuiFormLabel-root {
  font-size: 10pt;
}
