@use '../../globalStyleOverride.scss' as *;

.stock-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #636363;
  height: 250px;
  margin-bottom: 5px;
  margin-top: 25px;
}
.stock-title {
  font-size: 18pt;
}

.stock-row {
  display: flex;
  flex-direction: row;
  font-size: 13pt;
  color: $font-color-secondary;
}

.stock-column {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 170px;
}

.stock-item {
  margin-top: 10px;
}

b {
  color: #636363;
}