.filter-list {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #25A55F;
  white-space: nowrap;
  height: 45px;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding-left: 5px;
  padding-right: 5px;
}

.filter-outer {
  display:flex;
  width: 375px;
  margin-top: -50px;
  position: fixed;
}

button {
  border: none;
  background: none;
  color: #414141;
}

.--selected-filter {
 color: white;
}

.filter-list::-webkit-scrollbar {
  display: none;
 }