.ticker-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  color: #636363;
  margin: 0;
  box-shadow: 0px 24px 2px -24px #666666; /* last px value can be changed to -25 for less opaque/thinner divider*/
}

ul {
  margin-top: 60px;
}

.ticker-head {
display: flex;
 justify-content: space-between;
 margin: 5px;
}

.ticker-footer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  color: #A2A2A2;
}

.green-percentage {
  color: #25A55F;
}

.red-percentage {
  color: #C47777
}