.loading-container {
  display: flex;
  height: 750px;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  object-fit: cover;
  width: 110px;
  height: 60px;
  position:fixed;
  z-index: -1;
}


.MuiCircularProgress-circle {
  color: #25A55F;
}