.tutorials-body {
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #636363;
  font-size: 20pt;
}

.tutorials-title {
  text-decoration: underline;
}