.tutorial-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #636363;
  margin: 20px;
}

.tutorial-paragraphs {
  color: #A2A2A2;
}

.tutorial-title {
  font-size: 20pt;
}

