$stonk-green: #25A55F;
$stonk-green-hover: #1c834a;

$stonk-red: #C47777;
$stonk-red-hover: #a76262;

$font-color-primary:#636363;
$font-color-secondary: #A2A2A2;
$button-border-radius: 40px;
$box-shadow: #acacac;

/*Override Styling example for material ui button component or MuiButton*/
/*This syntax is repeated for all material UI Components*/
.MuiButton-root {
  background-color: #25A55F;
  color: white;
  border-radius: $button-border-radius;
}
/*Any existing effects can be overriden, or defined if not already*/
.MuiButton-root:hover {
  background-color: #1c834a;
}

/*This is a class applied to a single button*/
.red-button {
  background-color: #C47777;
}

.red-button:hover {
  background-color: #a76262;
}
/* might need to play around with space*/
.MuiButton-tutorial {
  display: flex;
  position: relative;
  width: 80%;
  justify-content: center;
  box-shadow: 0px 3px 4px $box-shadow;
  background-color: #A3A3A3;
  height: 8%;

}

.MuiButton-tutorial:hover {
  background-color: #636363;
}

.MuiButton-tutorial-completed {
  background-color: $stonk-green;
}

.MuiAlert-root {
  background-color: $stonk-green;
}

.MuiButton-tutorial-completed:hover {
  background-color: #1c834a;
}

.checkmark {
  position: absolute;
  margin-left: 200px;
}

* {
  font-family: 'Roboto';
}

.MuiButton-graph {
  position: inherit;
  transform: scale(0.7);
  height: 25px;
  font-size: 15px;
}

.MuiPaper-root {
  margin-bottom: 60px;
}

.MuiPaper-rounded {
  color: $font-color-primary;
  border: 2px solid $font-color-primary;
  margin-bottom: 0px;
  opacity: 100%;
}


//For individual tooltip position and style
.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.market-cap {
  margin-bottom: 355px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}

.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.eps {
  margin-bottom: 355px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}

.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.pe-ratio {
  margin-bottom: 322px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}

.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.bid {
  margin-bottom: 291px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}

.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.open {
  margin-bottom: 322px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}

.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.wk-rng {
  margin-bottom: 291px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}

.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.ask {
  margin-bottom: 261px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}

.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.amnt-owned {
  margin-bottom: 240px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}

.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.graph {
  margin-bottom: 140px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}

.MuiPaper-root.MuiAlert-root.MuiAlert-filledInfo.header {
  margin-bottom: 440px;
  background-color: white;
  color: #666666;

  .tool-title {
    color: #25A55F;
  }
}