$stonk-green: #25A55F;
$stonk-green-hover: #1c834a;

$stonk-red: #C47777;
$stonk-red-hover: #a76262;

$font-color-primary:#636363;
$font-color-secondary: #A2A2A2;
$button-border-radius: 40px;
$box-shadow: #acacac;

/*Override Styling example for material ui button component or MuiButton*/
/*This syntax is repeated for all material UI Components*/
.MuiButton-root {
  background-color: #25A55F;
  color: white;
  border-radius: $button-border-radius;
}
/*Any existing effects can be overriden, or defined if not already*/
.MuiButton-root:hover {
  background-color: #1c834a;
}

/*This is a class applied to a single button*/
.red-button {
  background-color: #C47777;
}

.red-button:hover {
  background-color: #a76262;
}
/* might need to play around with space*/
.MuiButton-tutorial {
  display: flex;
  position: relative;
  width: 80%;
  justify-content: center;
  box-shadow: 0px 3px 4px $box-shadow;
  background-color: #A3A3A3;
  height: 8%;

}

.MuiButton-tutorial:hover {
  background-color: #636363;
}

.MuiButton-tutorial-completed {
  background-color: $stonk-green;

}

.MuiButton-tutorial-completed:hover {
  background-color: #1c834a;
}

.checkmark {
  position: absolute;
  margin-left: 200px;
}

* {
  font-family: 'Roboto';
}

.MuiButton-graph {
  position: inherit;
  transform: scale(0.7);
  height: 25px;
  font-size: 15px;
}