$stonk-green: #25A55F;
$stonk-green-hover: #1c834a;

$stonk-red: #C47777;
$stonk-red-hover: #a76262;

$font-color-primary:#636363;
$font-color-secondary: #666666;

$box-shadow: #acacac;

/*Override Styling example for material ui button component or MuiButton*/
/*This syntax is repeated for all material UI Components*/
.MuiButton-root {
  background-color: #25A55F;
  color: white;
}
/*Any existing effects can be overriden, or defined if not already*/
.MuiButton-root:hover {
  background-color: #1c834a;
}

/*This is a class applied to a single button*/
.red-button {
  background-color: #C47777;
}

.red-button:hover {
  background-color: #a76262;
}
/* might need to play around with space*/
.MuiButton-tutorial {
  width: 80%;
  justify-content: space-evenly;
  box-shadow: 0px 3px 4px #636363;
} 

* {
  font-family: 'Roboto';
}